@use "../../../../variables";

.signInSection {
  width: 40%;
  margin: auto;

  .signInPageTitle {
    font-size: 35px;
    font-weight: 700;
    color: variables.$primary-light;
    margin: 0;
  }

  .signInPageText {
    margin-top: 20px;
    font-size: 18px;
    color: variables.$light;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .formIcon {
      position: relative;
      top: 50px;

      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(variables.$secondary-light, 0.7);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      z-index: 1;
    }

    .fields {
      position: relative;
      box-sizing: border-box;
      background-color: rgba(variables.$secondary-dark, 0.8);
      padding: 80px 5% 100px 5%;
      width: 100%;

      .rootError {
        position: absolute;
        bottom: 150px;
        color: #ff454f;
        font-size: 15px;
      }

      .rememberMeLabel {
        color: variables.$light;
      }
    }
  }

  .submitBtn {
    position: relative;
    bottom: 90px;
    width: 90%;
    height: 70px;
    background-color: variables.$primary-light;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover {
      background-color: lighten(variables.$primary-light, 6);
    }

    &:disabled {
      color: #FFFFFF;
      opacity: 0.5;
    }
  }
}
