@use "@/shared/styles/_variables.scss" as v;

.header {
  justify-content: space-between;
  height: 70px;

  .links {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  .headerNav {
    display: flex;
    align-items: center;
    gap: 22px;
    .navElement {
      padding-top: 8px;
      font: {
        weight: 400;
        size: 25px;
      }
    }
  }

  .loginBlock {
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      font-size: 18px;
      padding: 7px 5px 0 0;
      transition: all 200ms;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
    }
    .userNameLink {
      padding-top: 5px;
      border: 0 !important;
    }
    & :first-child {
      display: block;
      border-right: 2px solid v.$secondary;
    }
  }

  .userActions {
    display: flex;
  }
}
