@use "@/shared/styles/_variables.scss" as v;

.container {
  position: relative;

  width: 100%;
  height: 100%;

  .mainPart {
    //background-color: variables.$info-dark--dark;
    background: no-repeat url(../../../../public/imgs/sign-in-img.jpg);
    background-size: cover;

    height: 100%;
    width: 90%;
    box-sizing: border-box;
    padding: 12% 0 10% 0;

    display: flex;
    align-items: center;
    gap: 100px;
    text-align: center;
    color: #ffffff;
    flex-direction: column;

    -webkit-box-shadow: inset -121px -49px 66px -18px v.$info-dark--dark;
    -moz-box-shadow: inset -121px -49px 66px -18px v.$info-dark--dark;
    box-shadow: inset -121px -49px 66px -18px v.$info-dark--dark;

    .bold {
      display: inline;
      font-weight: 700;
    }

    .welcomeText {
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;

      .welcomeTo {
        font-size: 30px;
      }
    }
  }
}

.creatorLink {
  position: absolute;
  right: 200px;
  left: 0;
  bottom: 10%;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;

  a {
    display: flex;

    div {
      padding: 0 5px;
      &:first-child {
        border-right: 2px solid #ffffff;
      }
    }
  }
}
