.registerProcessContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.registerProcess {
  max-width: 480px;
  max-height: 655px;
  background-color: #00000099;
  backdrop-filter: blur(9px);
  padding: 14px 30px 0 30px;
  margin: auto;
  border-radius: 10px;

  box-sizing: border-box;
  
  h2 {
    width: 146px;
    height: 45px;
    margin: auto;
    margin-bottom: 3px;
    font: {
      size: 36px;
      font-family: var(--font-secondary);
      weight: 600;
    }
  }

  .registerProcessSteps {
    width: 380px;
  }
}
