$primary-light: #e3507c;
$secondary-light: #50e3b7;
$triadic-light: #e3b750;

$info-dark--dark: #212530;
$info--dark: #312956;
$secondary-text-dark: #838281;

$green: #0abe55;

$light: #ecdfcc;
$green-dark: #697565;
$gray: #8b8b8b;

$scheme-1: $primary-light, $secondary-light, $info-dark--dark, $triadic-light,
  $secondary-light;
$scheme-2: $info-dark--dark, $info--dark, $light, $triadic-light, $info--dark;

.c {
  color: #e3507c63;
}
