@mixin color-scheme($primary, $secondary, $text, $triadic, $highlighted) {
  background-color: $primary;
  color: $text;
  .active {
    color: $triadic;
  }
  .secondary {
    background-color: $secondary;
  }
  .highlighted {
    color: $highlighted;
  }
}
