.signInSectionContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  .signInSection {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 477px;
    width: 480px;
    overflow: auto;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      z-index: -1;
      border-radius: 10px;
    }

    .signInForm {
      .fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;

        width: 381px;
        height: 229px;
      }

      .rootError {
        position: absolute;
        bottom: 155px;
      }

      .signUpLink {
        margin-top: 32px;
        text-align: center;
        font-weight: 300;
      }

      h2 {
        width: 100px;
        height: 52px;
        margin: auto;
        margin-bottom: 19px;
        font: {
          size: 36px;
          font-family: var(--font-secondary);
          weight: 600;
        }
      }
    }
  }
}
