@use "@/shared/styles/_variables.scss" as v;

.signInSection {
  width: 40%;
  margin: auto;

  .signInPageTitle {
    font-size: 35px;
    font-weight: 700;
    color: v.$primary-light;
    margin-top: 30px;
  }

  .signInPageText {
    margin-top: 20px;
    font-size: 18px;
    color: v.$light;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .formIcon {
      position: relative;
      top: 50px;

      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(v.$secondary-light, 0.7);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      z-index: 1;
    }

    .fields {
      position: relative;
      background-color: rgba(v.$info--dark, 0.8);
      padding: 80px 5% 100px 5%;
      width: 100%;

      background: rgba(207, 145, 145, 0.2);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      .rootError {
        position: absolute;
        bottom: 150px;
        color: #ff454f;
        font-size: 15px;
      }

      .rememberMeLabel {
        color: v.$light;
      }
    }
  }

  .submitBtn {
    position: relative;
    bottom: 90px;
    width: 100%;
    height: 70px;
    background-color: v.$primary-light;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover {
      background-color: lighten(v.$primary-light, 6);
    }

    &:disabled {
      color: #ffffff;
      opacity: 0.5;
    }
  }
}
