NODE_ENV=development

NEXT_PUBLIC_BACKEND_URL=http://localhost:5000 # base backend url
NEXT_PUBLIC_BASE_URL=http://localhost:3000 # base frontend url
AUTH_SECRET=241027280171075976e72e022f77b87ddb2570fb061d61a266e774657f726331
AUTH_URL=http://localhost:3000 # base frontend url (used for auth redirects)
