NEXT_PUBLIC_BACKEND_URL=http://localhost:5000 # base backend url
NEXT_PUBLIC_BASE_URL=http://localhost:3000 # base frontend url
JWT_ACCESS_SECRET=your_ultra_secure_secret_key_that_is_at_least_32_characters_long__access
