$primary-light: #821131;
$secondary-light: #C7253E;

$primary-dark: #1E201E;
$secondary-dark: #3C3D37;

$light: #ECDFCC;
$green-dark: #697565;
$gold: #fabc3f;

$scheme-1: $primary-light, $secondary-light, #ffffff, $gold, $secondary-light;
$scheme-2: $primary-dark, $secondary-dark,  $light, $gold, $secondary-dark;