@use "@/shared/styles/_variables.scss" as variables;

.fieldContainer {
  position: relative;
  height: 85px;
  width: 383px;


  .fieldLabel {
    display: block;

    &.error {
      border: 2px solid #ff454f;

      &:has(input:focus) {
        border: 2px solid variables.$info--dark;
      }

      .fieldError {
        position: absolute;
        top: -20px;
        color: #ff454f;
        font-size: 15px;
      }

      .errorIcon {
        position: absolute;
        right: 20px;
        color: #ff454f;
      }
    }

    .field {
      display: block;
    }
  }
}
