.credentialsForm {
  display: flex;
  align-items: center;
  flex-direction: column;

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;

    width: 419px;
    padding: 17px 17px 20px 17px;
    margin-bottom: 30px;
  }
}
