@use "@/shared/styles/_variables.scss" as variables;

.layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainBlock {
  display: flex;
  height: 100%;

  .heroBlock {
    width: 64%;
    position: relative;
    opacity: 0.75;
    overflow: hidden;
  }

  .textSectionContainer {
    width: 450px;
    height: 366px;
    position: relative;
    right: 116px;
    margin-top: 10%;
    animation: appear 1.3s forwards ease-in-out;

    .textSection {
      .heading {
        font: {
          family: var(--font-secondary);
          weight: 700;
          size: 64px;
        }
        line-height: 80px;
        height: 171px;
        max-width: 500px;
      }

      .subheading {
        margin: 8px 0 47px 2px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  &.signUpPage,
  &.signInPage {
    .heroBlock {
      opacity: 1;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.3;
        mix-blend-mode: hard-light;
      }
    }
  }

  &.signUpPage {
    background: linear-gradient(
      -55deg,
      rgba(255, 29, 74, 1) 6%,
      rgba(255, 176, 59, 1) 71%
    );
    background-size: 100%;
    background-position: center center;

    .heroBlock {
      &::after {
        background: linear-gradient(
          -74deg,
          rgba(255, 29, 74, 1) 0%,
          rgba(255, 176, 59, 1) 100%
        );
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
