@use "@/shared/styles/_variables.scss" as variables;

.layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.startpage {
  display: flex;
  height: 100%;

  .heroBlock {
    width: 64%;
    position: relative;
    opacity: 0.75;
    overflow: hidden;
  }

  .textSectionContainer {
    width: 450px;
    height: 366px;
    position: relative;
    right: 116px;
    margin-top: 10%;
    animation: appear 1.3s forwards ease-in-out;

    .textSection {
      .heading {
        font: {
          family: var(--font-secondary);
          weight: 700;
          size: 64px;
        }
        line-height: 80px;
        height: 171px;
      }

      .subheading {
        margin: 8px 0 47px 2px;
        line-height: 30px;
        text-transform: capitalize;
      }

      .ctaButtons {
        width: 351px;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
