@use "@/shared/styles/_variables.scss" as variables;

.fieldContainer {
  position: relative;
  height: min-content;
  width: 100%;


  .fieldLabel {
    display: block;

    &.error {
      &:has(input:focus) {
        border: 0;
      }

      .fieldError {
        position: absolute;
        bottom: -15px;
        color: #ff454f;
        font-size: 15px;
      }

      .errorIcon {
        position: absolute;
        right: 15px;
        top: 40px;
        color: #ff454f;
      }
    }

    .field {
      display: block;
      background: #000;
    }
  }
}
