$base: #821131;
$base2: #C7253E;
$gold: #fabc3f;

$base-dark: #1E201E;
$base2-dark: #3C3D37;
$light: #ECDFCC;
$green-dark: #697565;

$scheme-1: $base, $base2, #ffffff, $gold;
$scheme-2: $base-dark, $base2-dark,  $light, $green-dark;